{% extends 'base.html' %}
{% load static %}
{% block head %}
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Lista de Encuestas</h1>
    <p><a href="{% url 'survey' %}">< Regresa Encuesta</a></p>
    <p>
        <a href="{% url 'survey_list' %}">Todos</a>
        <a href="{% url 'survey_list' %}?status=complete">Enviados</a>
        <a href="{% url 'survey_list' %}?status=incomplete">NO enviados</a>
    </p>
    <table>
        <th>Completo</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Correo</th>
        <th>#Hermanos</th>
        <th>Pagina Web</th>
        <th>Red Social Fav</th>
        <th>Acerca de mí</th>
        <th>Pasatiempos</th>
        <th>Cantante Fav</th>
        <th>Actor Fav</th>
        {% for survey in surveys %}
            <tr>
                <td>{% if survey.completed %}SI{% else %}NO{% endif %}</td>
                <td>{{ survey.full_name|default_if_none:"-" }}</td>
                <td>{{ survey.age|default_if_none:"-" }}</td>
                <td>{{ survey.email|default_if_none:"-" }}</td>
                <td>{{ survey.brothers|default_if_none:"-" }}</td>
                <td>{{ survey.website|default_if_none:"-" }}</td>
                <td>{{ survey.social_network|default_if_none:"-" }}</td>
                <td>{{ survey.about_me|default_if_none:"-"|safe }}</td>
                <td>{{ survey.hobbies|default_if_none:"-"|safe }}</td>
                <td>{{ survey.singer|default_if_none:"-" }}</td>
                <td>{{ survey.actor|default_if_none:"-" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}