{% extends 'base.html' %}
{% block content %}
    <h1>Encuesta</h1>
    <form id="quiz", method="post" log-url="{% url 'survey_log' %}">{% csrf_token %}
        {% for field in form %}
            {% if field.name != 'survey_session' %}
            <p>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </p>
            {% endif %}
        {% endfor %}
        <input type="hidden" name="survey_session" value="{{ survey_session }}">
    <input type="submit" value="Enviar" />
    </form>

    <p><a href="{% url 'survey_list' %}">Lista Respuestas</a></p>
{% endblock %}