<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket</title>
</head>
<body>
    <h1>Gracias por completar la encuesta!! =D</h1>
    <h3>
        <a href="{% url 'survey' %}">< Regresa Encuesta</a> |
        <a href="{% url 'survey_list' %}">Lista Respuestas ></a>
    </h3>

</body>
</html>